<html>
<body>
  {% load staticfiles %}

  <img src="{% static "my_app/myexample.png" %}" alt="test static files 2"/>
  <p>"{% static "my_app/myexample.png" %}"</p>
  <p>{{text}}</p>

  <p>heroku for develop</p>


  <form action="/login/" method="post">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    {% csrf_token %}  
    <input type="submit" value="login" />
    <!--<input type="hidden" name="next" value="reg">--!>
 
      
  </form>
</body>
</html>

