<html>
<body>
  <p>{{text}}</p>
  <p>hello from github</p>
  <p>now it autoupdate from organization</p>
  
  <form action="/login/" method="post">
    <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    {% csrf_token %}  
    <input type="submit" value="login" />
    <!--<input type="hidden" name="next" value="reg">--!>
 
      
  </form>
</body>
</html>

